#section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    margin: 0 auto;
}



.graph-wrapper {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    padding-top: 100px;
    color: black;
}

.graph {
    height: 500px;
    width: 100%;
    max-width: 750px;
    padding: 50px;
    background-color: $bgGraph;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}







// pie chart 
.scnd-font-color {
    color: $darkText;
}

.titular {
    display: block;
    line-height: 60px;
    margin: 0;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.horizontal-list {
    margin: 0;
    padding: 50px;
    list-style-type: none;
}

.horizontal-list li {
    float: left;
}

.block {
    margin: 25px 25px 0 0;
    background: $bgGraph;
    border-radius: 5px;
    float: left;
    width: 300px;
    overflow: hidden;
}





.left-container {}

.menu-box {
    height: 500px;
}

.donut-chart-block {
    overflow: hidden;
}

.donut-chart-block .titular {
    padding: 10px 0;
}

.os-percentages li {
    width: 75px;
    border-left: 1px solid #394264;
    text-align: center;
    background: $bgGraph;
}

.os {
    margin: 0;
    padding: 10px 0 5px;
    font-size: 15px;
}

.os.ios {
    border-top: 4px solid #A20202;
}

.os.mac {
    border-top: 4px solid #555;
}

.os.linux {
    border-top: 4px solid #8A1E1E;
}

.os.win {
    border-top: 4px solid #fff;
}

.os-percentage {
    margin: 0;
    padding: 0 0 15px 10px;
    font-size: 25px;
}

.line-chart-block,
.bar-chart-block {
    height: 400px;
}

.line-chart {
    height: 200px;
    background: #11a8ab;
}

.time-lenght {
    padding-top: 22px;
    padding-left: 38px;
    overflow: hidden;
}

.time-lenght-btn {
    display: block;
    width: 70px;
    line-height: 32px;
    background: #50597b;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    margin-right: 5px;
    -webkit-transition: background .3s;
    transition: background .3s;
}

.time-lenght-btn:hover {
    text-decoration: none;
    background: #e64c65;
}

.month-data {
    padding-top: 28px;
}

.month-data p {
    display: inline-block;
    margin: 0;
    padding: 0 25px 15px;
    font-size: 16px;
}

.month-data p:last-child {
    padding: 0 25px;
    float: right;
    font-size: 15px;
}

.increment {
    color: #e64c65;
}



/******************************************
GRAFICO CIRCULAR PIE CHART
******************************************/

.donut-chart {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 2rem;
    border-radius: 100%
}

p.center-date {
    background: linear-gradient(to bottom, #8A1E1E, #a70000);
    ;
    position: absolute;
    text-align: center;
    font-size: 28px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 135px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    line-height: 20px;
    padding: 15% 0 0;
}

.center-date span.scnd-font-color {
    line-height: 0;
}

.recorte {
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
    height: 100%;
    position: absolute;
    width: 100%;
}

.quesito {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
}

#porcion1 {
    transform: rotate(0deg);
}

#porcion1 .quesito {
    background-color: #A20202;
    transform: rotate(76deg);
}

#porcion2 {
    transform: rotate(76deg);
}

#porcion2 .quesito {
    background-color: #555;
    transform: rotate(140deg);
}

#porcion3 {
    transform: rotate(215deg);
}

#porcion3 .quesito {
    background-color: #fff;
    transform: rotate(113deg);
}

#porcionFin {
    transform: rotate(-32deg);
}

#porcionFin .quesito {
    background-color: #8A1E1E;
    transform: rotate(32deg);
}

.nota-final {
    clear: both;
    color: #4FC4F6;
    font-size: 1rem;
    padding: 2rem 0;
}

.nota-final strong {
    color: #E64C65;
}

.nota-final a {
    color: #8A1E1E;
    font-size: inherit;
}

#pie-chart {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}